.container {
  margin-top: 30px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  max-height: 60vh;
  overflow: auto;
}
#file {
  width: 100%;
  height: 90vh;
  display: block;
  overflow: auto;
  background: transparent;
  border: transparent;
}
#file-preview {
  display: none;
}
.panel-condensed {
  padding: 0;
}
.panel-condensed .table {
  margin-bottom: 0;
}
#files td {
  padding: 0;
}
#files td a {
  padding: 8px;
}
.CodeMirror pre {
  padding: 0 16px;
}
.CodeMirror-linenumber {
  padding: 0 8px 0 8px;
}
.panel-condensed .table .td-icon {
  padding-right: 0px;
  padding-left: 15px;
  width: 30px;
}
.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
}
.panel-default > .panel-heading .panel-btn-collapse {
  width: 100%;
  display: block;
  padding: 10px 15px;
}
.panel-default > .panel-heading a:hover,
.panel-default > .panel-heading a:focus {
  text-decoration: none;
}
.selected .text-muted {
  color: #4d79ba;
}
.table .selected {
  background: rgba(55, 90, 142, 0.3);
  color: #fff;
}
.table a.select {
  text-decoration: none;
  width: 100%;
  max-width: 250px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table a.select:hover,
.table a.select:focus,
.table a.select:active {
  color: #c8c8c8;
  background: #375A8E;
  background: rgba(55, 90, 142, 0.2);
}
.table a.select .fa {
  margin-left: 5px;
  margin-right: 8px;
  width: 14px;
}
.select-muted a,
.select-muted i {
  color: #c8c8c8;
  color: rgba(255, 255, 255, 0.6);
}
.text-muted a,
.text-muted a:focus,
.text-muted a:link,
.text-muted a:active,
.text-muted a:hover {
  color: #7a8288;
}
/*
.selected {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    background: #375A8E;
    top: 0;
    right: 0;
  }
}*/
::-webkit-scrollbar {
  width: 10px;
  background: rgba(28, 30, 34, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}
.panel-group .panel {
  border-radius: 0;
}
.hljs {
  padding: 8px 12px;
}
#mutations-select {
  display: none;
}
#web-preview {
  visibility: hidden;
}
#showModalPreview .modal-dialogm,
#showModalPreview iframe {
  height: 80vh;
}
#showModalPreview.big-computer .modal-dialog {
  width: 90vw;
}
#showModalPreview.small-computer .modal-dialog {
  width: 100%;
  max-width: 992px;
}
#showModalPreview.tablet .modal-dialog {
  width: 768px;
  height: 1024px;
  max-height: 80vh;
}
#showModalPreview.tablet iframe {
  height: 1024px;
  max-height: 80vh;
}
#showModalPreview.mobile .modal-dialog {
  width: 320px;
  height: 568px;
  max-height: 80vh;
}
#showModalPreview.mobile iframe {
  height: 568px;
  max-height: 80vh;
}
#showModalPreview .modal-body {
  padding: 0;
}
#showModalPreview iframe {
  border: 0;
}
.modal .close {
  color: #fff;
}
#ModalNewFile_name[pattern]:invalid,
#ModalNewLanguage_name[pattern]:invalid {
  color: red;
}
