/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror {background: #272822; color: #f8f8f2;}
.cm-s-monokai div.CodeMirror-selected {background: #49483E !important;}
.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-line::-moz-selection, .cm-s-monokai .CodeMirror-line > span::-moz-selection, .cm-s-monokai .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-gutters {background: #272822; border-right: 0px;}
.cm-s-monokai .CodeMirror-guttermarker { color: white; }
.cm-s-monokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }

.cm-s-monokai .CodeMirror-cursor {border-left: 1px solid #f8f8f0 !important;}

.cm-s-monokai span.cm-comment {color: #75715e;}
.cm-s-monokai span.cm-atom {color: #ae81ff;}
.cm-s-monokai span.cm-number {color: #ae81ff;}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {color: #a6e22e;}
.cm-s-monokai span.cm-keyword {color: #f92672;}
.cm-s-monokai span.cm-string,
.cm-s-monokai span.cm-string.cm-variable-3  {color: #68715E;} /* #e6db74 */ /* rgba(230, 219, 116, 0.7) */



.cm-s-monokai span.cm-strong {color: #a8a8a2; font-weight: bold;}
.cm-s-monokai span.cm-em {color: #a8a8a2; font-style: italic;}
.cm-s-monokai span.cm-variable {color: #f8f8f2;}
.cm-s-monokai span.cm-variable-2 {color: #66d9ef;} /* #9effff */
.cm-s-monokai span.cm-variable-3 {color: #66d9ef;} /* #66d9ef */
.cm-s-monokai span.cm-def {color: #fd971f;}
.cm-s-monokai span.cm-bracket {color: #f8f8f2;}
.cm-s-monokai span.cm-tag {color: #68715E;} /* #68715E #f92672 */
.cm-s-monokai span.cm-header {color: #f92672;} /* color: #ae81ff; */
.cm-s-monokai span.cm-link {color: #e6db74; text-decoration: none;} /* #ae81ff; */
.cm-s-monokai span.cm-error {background: #f92672; color: #f8f8f0;}
.cm-s-monokai span.cm-hr {color: #ae81ff;}
.cm-s-monokai span.cm-dotdot {color: #a6e22e;}





.cm-s-monokai .CodeMirror-activeline-background {background: #272822 !important;} /* #373831 !important */
.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}


.cm-s-monokai .CodeMirror-activeline .CodeMirror-linenumber {background: #373831 !important; color: #8F908A;}

.cm-s-monokai .CodeMirror-linenumber {color: #68715E; } /* #d0d0d0 */


.CodeMirror { height: 90vh; border: 1px solid #121416}

.CodeMirror-focused {border: 1px solid #375A8E};


